html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  & > .container{
    padding: 60px 15px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  .container .text-muted {
    margin: 20px 0;
  }
}

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #FFF;
}
.text-gray {
  color: darkgrey;
}
.editable, .editable:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  cursor: pointer;
}
.editableform {
  margin-bottom: 0; /* overwrites bootstrap margin */
}

.editableform .control-group {
  margin-bottom: 0; /* overwrites bootstrap margin */
  white-space: nowrap; /* prevent wrapping buttons on new line */
  line-height: 20px; /* overwriting bootstrap line-height. See #133 */
}

/*
  BS3 width:1005 for inputs breaks editable form in popup
  See: https://github.com/vitalets/x-editable/issues/393
*/
.editableform .form-control {
  width: auto;
}

.editable-buttons {
  display: inline-block; /* should be inline to take effect of parent's white-space: nowrap */
  vertical-align: top;
  margin-left: 7px;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
}

.editable-buttons.editable-buttons-bottom {
  display: block;
  margin-top: 7px;
  margin-left: 0;
}

.editable-input {
  vertical-align: top;
  display: inline-block;
  width: auto;
  white-space: normal;
  zoom: 1;
  *display: inline;
  position: relative;
}

.editable-buttons .editable-cancel {
  margin-left: 7px;
}

.editable-clear-x {
  background: url('/img/clear.png') center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;

  top: 50%;
  right: 6px;
  margin-top: -6px;
  cursor: pointer;
}

.editable-clear-x:hover {
  opacity: 1;
}