template(name="depRow")
   tr
      td: input.groupcheck(type='checkbox' id=_id)
      td #{_id}
      td {{ getTitle title }}
      td
         with main_dep
            | {{ getMainDep this }}
         unless main_dep
            span.text-gray {{i18n 'deps.noMainDep'}}