template(name='deps')
    h1 {{ i18n 'deps.title' }}
    .row
        .col-md-10
        .col-md-2
            a#add_dep_btn.btn.btn-success(href="{{ pathFor 'createDep' }}")
                i.fa.fa-plus-square
                | {{ i18n 'deps.addDep' }}
    .row
        .col-md-12
            table.table.table-striped
                thead
                    tr
                        th(width='50')
                            input(type='checkbox')
                        th ID
                        th {{ i18n 'general.title' }}
                        th {{ i18n 'deps.mainDep' }}
                tbody
                    if deps.length
                        each deps
                            +depRow
                    else
                        tr
                            td.text-center(colspan='4') {{ i18n 'not_found' }}